.margin-small {
    margin: 0.5em 1em 0.5em 1em;
}

.padding-small {
    padding: 0.5em 1em 0.5em 1em;
}

body {
    margin: 0;
    height: 100%;
    background-color: #000;
}

#header {
    display: flex;
    background-color: #1E1F30; 
}

iframe[seamless] {
    border:none;
}
